{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
<div class="container mt-5">
    <div class="d-flex justify-content-between mb-4">
        <a href="{{ url_for('login') }}" class="btn btn-outline-secondary">
            ← Já tem conta? Faça Login
        </a>
    </div>
    <h2>Registro</h2>
    <form method="POST">
        <div class="mb-3">
            <label>Nome</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Senha</label>
            <input type="password" name="password" class="form-control" required minlength="6">
        </div>
        <div class="mb-3">
            <label>Confirme a Senha</label>
            <input type="password" name="confirm_password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>
</div>
{% endblock %}